.DS_Store
node_modules
/dist
/else
/src/js/three/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/src/js/CSS3DRenderer.js
/src/js/GLTFLoader.js
/src/js/OrbitControls.js
/src/js/Sky.js
/src/js/Water.js
